{{- $context := .context -}}
{{- $class := .class | default "w-full h-64 object-cover rounded-lg" -}}
{{- $alt := $context.Title -}}

{{- $image := "" -}}
{{- with $context.Params.image -}}
    {{- if hasPrefix . "http" -}}
        {{- $image = . -}}
    {{- else if hasPrefix . "/" -}}
        {{- $image = . -}}
    {{- else -}}
        {{- $image = path.Join $context.RelPermalink . -}}
    {{- end -}}
{{- else -}}
    {{- with $context.Resources.GetMatch "images/*" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
{{- end -}}

{{- if $image -}}
    <img src="{{ $image }}" alt="{{ $alt }}" class="{{ $class }}">
{{- end -}}