<div class="bg-background shadow-md rounded-lg p-6">
    <div class="lg:sticky lg:top-8">
        <h2 class="text-xl font-bold mb-4 font-serif text-primary">Sections</h2>
        <ul class="space-y-2">
            {{ range .Site.Sections }}
            <li>
                <a href="{{ .RelPermalink }}" class="content-link">
                    {{ .Title | default (.Name | humanize) }} ({{ len .Pages }})
                </a>
            </li>
            {{ end }}
        </ul>
        <div class="mt-8">
            <h2 class="text-xl font-bold mb-4 font-serif text-gray-400">Featured</h2>
            {{ $mainSections := .Site.Params.mainSections }}
            {{ $pages := where .Site.RegularPages "Section" "in" $mainSections }}
            {{ range first 5 $pages }}
            <div class="mb-4 pl-2">
                <a href="{{ .Permalink }}" class="content-link font-normal font-serif">{{ .Title }}</a>
                {{ if $.Site.Params.showPublishDate }}
                <p class="text-sm text-text-light">{{ .Date.Format "January 2, 2006" }}</p>
                {{ end }}
            </div>
            {{ end }}
        </div>
       
    </div>
</div>