<div>
<form id="contact-form" method="POST" class="space-y-6">
    <div>
        <label for="message" class="block text-sm font-medium text-text mb-1">Message</label>
        <textarea id="message" 
                 name="message" 
                 rows="6" 
                 required
                 class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-primary focus:border-transparent"
                 placeholder="Your message here..."></textarea>
    </div>
    <div>
        <label for="name" class="block text-sm font-medium text-text mb-1">Name</label>
        <input type="text" 
               id="name" 
               name="name" 
               required 
               class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-primary focus:border-transparent" 
               placeholder="Your name">
    </div>

    <div>
        <label for="email" class="block text-sm font-medium text-text mb-1">Email</label>
        <input type="email" 
               id="email" 
               name="email" 
               required 
               class="w-full px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-primary focus:border-transparent"
               placeholder="your.email@example.com">
    </div>

    

    

    <div class="flex justify-end w-full">
        <button type="submit" 
                class=" bg-green-700 text-white font-semibold py-3 px-6 rounded-md hover:bg-green-900 transition-colors duration-200">
            Send &rarr;
        </button>
    </div>
</form>
<script id="ratufa_loader" src="https://www.ratufa.io/c/ld.js?f=uqc6otvg&n=n1.ratufa.io"></script>
</div>